<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <ul>
      <h2>Jobs from <a href="www.gorails.com/jobs">GoRails</a></h2>
      <% @go_rails_jobs.each do |job| %>
        <li>
          <a href="<%= job[:href] %>"><%= job[:title] %></a>
          <p><%= job[:misc] %></p>
        </li>
      <% end %>
    </ul>
    <footer>
      <h5>More jobs at:</h5>
      <a href="./gorails">From gorails</a><br>
      <a href="./weworkremotely">From weworkremotely</a><br>
    </footer>
  </body>
</html>
